[Desktop Entry]
DefaultProfile=Light.profile

[General]
ConfigVersion=1

[KonsoleWindow]
EnableSecuritySensitiveDBusAPI=true

[LightDarkTheme]
SyncProfileWithSystemTheme=false
LightThemeProfile=Main
DarkThemeProfile=Main Dark

[UiSettings]
ColorScheme=